@{
    ViewData["Title"] = "Audience";
    ViewData["Role"] = UserRole.Audience;
}

<div class="row mb-3" id="gameSetupPanels">
    <partial name="_PlayersListPanel"/>
</div>

<div class="row mb-3" id="fastestFingerPanels" style="display: none">
    <partial name="FastestFingerFirst/_DefaultPanel"/>
    <partial name="FastestFingerFirst/_ResultsPanel"/>
    <partial name="FastestFingerFirst/_Answers"/>
</div>
<partial name="FastestFingerFirst/_AnswerInput"/>


<partial name="_QuestionAndAnswers"/>
<partial name="FastestFingerFirst/_InputButtons"/>

<partial name="_JoinGameModal"/>
<partial name="_GameEndedModal"/>

<partial name="_MultiplayerScripts"/>

@* Temp script to set up game for testing *@
<script>
setTimeout(() => {
    connection.invoke("SetName", "@($"Max {MultiMillionaire.Models.User.PlayerNum++}")");
    connection.invoke("JoinRandomAudience");
}, 2000);
</script>