@{
    ViewData["Title"] = "Audience";
}

multiplayer audience

<label for="nameInput" class="form-label">Name</label>
<input type="text" id="nameInput" class="form-control">

<label for="gameIdInput" class="form-label">Game Id</label>
<input type="text" id="gameIdInput" class="form-control">

<button type="button" class="btn" onclick="joinAudience()">Join audience</button>

<partial name="_MultiplayerScripts"/>
<script src="~/js/audience.js" asp-append-version="true"></script>