@model MultiplayerGame

@{
    ViewData["Title"] = "Audience";
    ViewData["Role"] = UserRole.Audience;
}

<div class="row mb-3" id="gameSetupPanels">
    <partial name="_PlayersListPanel"/>
</div>

<partial name="_JoinGameModal"/>
<partial name="_GameEndedModal"/>

<partial name="_MultiplayerScripts"/>