@{
    ViewData["Title"] = "Host";
}

multiplayer host

@*<label for="nameInput" class="form-label">Name</label>
<input type="text" id="nameInput" class="form-control">
<button type="button" class="btn" onclick="hostGame()">Host game</button>*@

<partial name="_Question"/>


<partial name="_MultiplayerScripts"/>
<script src="~/js/host.js" asp-append-version="true"></script>