multiplayer host

<label for="nameInput" class="form-label">Name</label>
<input type="text" id="nameInput" class="form-control">
<button type="button" class="btn" onclick="hostGame()">Host game</button>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/host.js" asp-append-version="true"></script>