@{
    ViewData["Title"] = "Host";
}

@*<label for="nameInput" class="form-label">Name</label>
<input type="text" id="nameInput" class="form-control">
<button type="button" class="btn" onclick="hostGame()">Host game</button>*@

<div class="row mb-3">
    <partial name="_HostPanel"/>
    <partial name="_MoneyTree"/>
</div>

<partial name="_Question"/>

<partial name="_MultiplayerScripts"/>
<script src="~/js/host.js" asp-append-version="true"></script>