@{
    ViewData["Title"] = "Host";
}

@*<label for="nameInput" class="form-label">Name</label>
<input type="text" id="nameInput" class="form-control">
<button type="button" class="btn" onclick="hostGame()">Host game</button>*@

<div class="row mb-3" id="fastestFingerPanels">
    @* <partial name="FastestFingerFirst/_DefaultPanel"/> *@
    <partial name="FastestFingerFirst/_ResultsPanel"/>

    <partial name="FastestFingerFirst/_Answers"/>
</div>

<div class="row mb-3" id="mainGamePanels" style="display: none">
    <partial name="Host/_GameSetupPanel"/>
    <partial name="Host/_DefaultPanel"/>
    <partial name="_AudiencePanel"/>
    <partial name="_PhonePanel"/>

    <partial name="_MoneyTree"/>
</div>

<partial name="Host/_HostMenu"/>
<partial name="_QuestionAndAnswers"/>

<partial name="_JoinGameModal"/>
<partial name="Host/_QuestionEditorModal"/>

<partial name="_MultiplayerScripts"/>
<script src="~/js/host.js" asp-append-version="true"></script>