@model MultiplayerGame

<h1>multiplayer menu</h1>

<a asp-controller="Multiplayer" asp-action="Host">Host new game</a>

<a asp-controller="Multiplayer" asp-action="Audience">Join audience</a>

<a asp-controller="Multiplayer" asp-action="Spectate">Spectate</a>
