multiplayer spectate

<label for="gameIdInput" class="form-label">Game Id</label>
<input type="text" id="gameIdInput" class="form-control">
<button type="button" class="btn" onclick="spectateGame()">Spectate game</button>

<partial name="_MultiplayerScripts"/>
<script src="~/js/spectate.js" asp-append-version="true"></script>