@{
    Layout = "_MultiplayerLayout";
    ViewData["Title"] = "Spectate";
    ViewData["Role"] = UserRole.Spectator;
}

@section Panels
{
    <div class="row mb-3" id="gameSetupPanels">
        <partial name="_PlayersListPanel"/>
    </div>

    <div class="row mb-3" id="fastestFingerPanels" style="display: none">
        <partial name="FastestFingerFirst/_DefaultPanel"/>
        <partial name="FastestFingerFirst/_ResultsPanel"/>
        <partial name="FastestFingerFirst/_Answers"/>
    </div>

    <div class="row mb-3" id="mainGamePanels" style="display: none">
        <partial name="_DefaultPanel"/>
        <partial name="_AskTheAudiencePanel"/>
        <partial name="_PhoneAFriendPanel"/>

        <partial name="_MoneyTree"/>
    </div>
}

@section QuestionRows
{
    <partial name="_QuestionAndAnswers"/>
    <partial name="_Menu"/>
    <partial name="_Winnings"/>
}

@section Modals
{
    <partial name="_JoinGameModal"/>
    <partial name="_GameEndedModal"/>
    <partial name="_DisconnectedModal"/>
}

<script type="text/javascript">
window.removeEventListener("load", hideLoadingScreen);
window.addEventListener("soundsLoaded", hideLoadingScreen);
sounds.load();
</script>