<div id="fastestFingerInput" style="display: none">
    <question class="fff-answer-input justify-content-around">
        <span class="px-2" id="fffInput0">&ensp;</span>
        <span class="px-2" id="fffInput1">&ensp;</span>
        <span class="px-2" id="fffInput2">&ensp;</span>
        <span class="px-2" id="fffInput3">&ensp;</span>
    </question>
</div>