<div class="col-sm-4 ms-auto ms-lg-0 mb-3 p-0" id="fffAnswerPanel" style="display: none">
    <div class="money-tree money-tree-fff p-2 pe-0">
        <div class="m-2 me-0">
            <div class="question-fff mb-5" id="fffQuestion"></div>

            <div class="answer-block-fff">
                @for (var i = 0; i < 4; i++)
                {
                    <div class="row answer-row-fff mb-2 ms-0" id="fffAnswer@(i)">
                        <div class="answer-fff">
                            <span class="answer-letter mx-1"></span>
                            <span class="answer-text"></span>
                        </div>
                        <hr class="col question-line my-auto px-0"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>