<div class="col-auto col-md-6 mx-auto" id="fffDefaultPanel">
    <div class="logo-large mx-auto mb-5">
        <img src="~/images/logo.png" alt="Who Wants To Be A Millionaire? logo"/>
    </div>
    <small-button class="d-block mx-auto my-3">Next</small-button>
</div>