<div class="col-auto col-md-6 mx-auto" id="fffDefaultPanel">
    <div class="logo-small mx-auto mb-5">
        <img src="~/images/logo.png" alt="Who Wants To Be A Millionaire? logo"/>
    </div>

    @if (ViewData["Role"] is UserRole.Host)
    {
        <small-button class="d-block mx-auto my-3" id="fffNextBtn" onclick="fastestFinger.fetchQuestion()">Next</small-button>
    }
</div>