<div class="justify-content-center mb-3" id="fastestFingerBtns" style="display: none">
    <small-button class="disabled" id="fffDeleteBtn" onclick="game.rounds.fastestFinger.input.delete()">Delete</small-button>
    <small-button class="disabled" id="fffSubmitBtn" onclick="game.rounds.fastestFinger.submit()">Submit</small-button>
</div>