/* Colours */

:root {
    --blue: #338CD3;
    --light-blue: #6BB6EE;
    --orange: #E1A02E;
    --background: #030D13;
}



/* Fonts */

@font-face {
    font-family: Conduit ITC Bold;
    src: url(../fonts/Conduit_ITC_Bold.ttf);
}

@font-face {
    font-family: Conduit ITC;
    src: url(../fonts/conduit_itc.ttf);
}

@font-face {
    font-family: Copperplate Gothic Condensed;
    src: url('../fonts/CopperplateGothicBT-RomanCond.woff2') format('woff2'),
    url('../fonts/CopperplateGothicBT-RomanCond.woff') format('woff');
}

@font-face {
    font-family: Copperplate Gothic32BC;
    src: url("../fonts/Copperplate Gothic 32 BC.otf");
}

@font-face {
    font-family: Memphis Pro Bold;
    src: url("../fonts/Memphis-Bold.woff");
}

@font-face {
    font-family: Copperplate Gothic Regular;
    src: url('../fonts/CopperplateGothicBT-Roman.woff2') format('woff2'),
    url('../fonts/CopperplateGothicBT-Roman.woff') format('woff');
}

.text-orange {
    color: var(--orange);
}


/* Layout */

body {
    color: white;
    background-color: var(--background);
    font-family: Conduit ITC, Arial, Verdana, Helvetica CY, sans-serif;
    font-size: 1.5rem;
    line-height: 1.3rem;
    overflow: auto;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    
    background-image: url(../images/background_3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

body.bg-0::before {
    background-image: url(../images/background_0.png);
}

body.bg-1::before {
    background-image: url(../images/background_1.png);
}

body.bg-2::before {
    background-image: url(../images/background_2.png);
}

body.bg-3::before {
    background-image: url(../images/background_3.png);
}

.container-lg {
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-style: ridge;
    border-image: linear-gradient(to bottom, var(--blue), #ade1f6, var(--blue)) 1 100%;
    box-shadow: 0 0 4px var(--blue), 0 0 4px var(--blue) inset;
}

.box {
    background: linear-gradient(black, black) padding-box,
                linear-gradient(to right, var(--blue), #ade1f6, var(--blue)) border-box;
    border-radius: .5rem;
    border: 3px solid transparent;
}

.small-button {
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, var(--blue), #ade1f6, var(--blue)) border-box;
    border-radius: .5rem;
    border: 2px solid transparent;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}


/* Menus */

.menu-button-lg, .menu-button-sm {
    text-decoration: none;
    color: white;
}


/* Logo */

.logo-large {
    width: 30%;
    min-width: 200px;
}

.logo-small {
    width: 30%;
    min-width: 200px;
}

.logo-large img, .logo-small img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 7px black);
    filter: drop-shadow(5px 5px 7px black);
}


/* Question */

.question {
    background-image: url("../images/question.png");
    background-size: 100% 200%;
    background-position: 0 0;
    max-width: 768px;
    width: 100%;
    min-height: 86px;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
}

.question-line {
    border-bottom: 3px solid var(--blue);
    opacity: 1;
}

.answer {
    background-image: url("../images/question.png");
    background-size: 100% 200%;
    background-position: 0 0;
    height: 53px;
    padding: 10px 30px 10px 15px;
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    line-height: 2rem;
    cursor: pointer;
}

.answer:hover, .answer.selected, .menu-button-sm:hover {
    background-position: 0 50%;
}

.answer.correct, .menu-button-lg:hover {
    background-position: 0 100%;
}

.answer:hover .answer-diamond, .answer:hover .answer-letter, .answer.selected .answer-diamond, .answer.selected .answer-letter, .answer.correct .answer-diamond, .answer.correct .answer-letter {
    color: white;
}

.answer:hover .answer-text, .answer.selected .answer-text, .answer.correct .answer-text, .menu-button-lg:hover, .menu-button-sm:hover {
    color: black;
}

.answer.disabled {
    pointer-events: none;
}

@media (min-width: 576px) {
    .answer-left {
        background-image: url("../images/answer_left.png");
    }

    .answer-right {
        background-image: url("../images/answer_right.png");
        padding-left: 25px;
    }

    .answer {
        background-size: 100% 300%;
        width: 50%;
        max-width: 366px;
    }
}

.answer-diamond {
    font-size: 1rem;
    align-self: end;
}

.answer-letter {
    font-family: Copperplate Gothic Condensed, Conduit ITC, Arial, Verdana, Helvetica CY, sans-serif;
}

.answer-text {
    white-space: nowrap;
    transform-origin: 0;
}


/* Money tree */

.money-tree {
    background-image: url(../images/money_tree_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--light-blue) 0 0 7px;
    border-width: 5px 0 5px 0;
    border-style: ridge;
    border-image: radial-gradient(var(--light-blue) 0%, white 70%, var(--light-blue) 100%) 1;
}

@media (min-width: 576px) {
    .money-tree {
        border-left-width: 5px;
    }
}

.lifeline {
    width: 93px;
    max-width: 93px;;
    height: 60px;
    background-position: 0 0;
    background-size: 100% 300%;
    transition: transform .2s ease-out;
}

.lifeline:hover {
    background-position: 0 100%;
    cursor: pointer;
    transform: scale(1.2);
}

.lifeline.disabled {
    pointer-events: none;
}

.lifeline.used {
    background-position: 0 50%;
    pointer-events: none;
}

.lifeline-5050 {
    background-image: url(../images/5050.png);
}

.lifeline-phone {
    background-image: url(../images/phone.png);
}

.lifeline-audience {
    background-image: url(../images/audience.png);
}

.money-tree table {
    font-family: Copperplate Gothic32BC, serif;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.75rem;
    color: var(--orange);
    text-shadow: 1px 1px 5px black;
}

.safety-net {
    color: white;
}

.tree-selected {
    background-color: var(--orange);
}

.tree-question-number {
    text-align: right;
}

.tree-selected .tree-question-number {
    color: white;
}

.tree-diamond {
    font-size: 1.2rem;
    color: white;
    visibility: hidden;
}

.tree-selected .tree-diamond {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff;
}

.tree-selected .tree-diamond, .tree-selected ~ tr .tree-diamond {
    visibility: visible;
}

.tree-selected .tree-money {
    color: black;
    text-shadow: none;
}