<div class="row mb-2">
    <hr class="col question-line my-auto px-0"/>
    <div class="col-sm-auto answer-left">
        <span class="answer-diamond text-orange me-1">◆</span>
        <span class="answer-letter text-orange me-1">A:</span>
        <span class="answer-text">Humans</span>
    </div>
    <div class="col-sm-auto answer-right">
        <span class="answer-diamond text-orange me-1">◆</span>
        <span class="answer-letter text-orange me-1">B:</span>
        <span class="answer-text">Dogs</span>
    </div>
    <hr class="col question-line my-auto px-0"/>
</div>

<div class="row mb-2">
    <hr class="col question-line my-auto px-0"/>
    <div class="col-sm-auto answer-left">
        <span class="answer-diamond text-orange me-1">◆</span>
        <span class="answer-letter text-orange me-1">C:</span>
        <span class="answer-text">An animal with a long name</span>
    </div>
    <div class="col-sm-auto answer-right">
        <span class="answer-diamond text-orange me-1">◆</span>
        <span class="answer-letter text-orange me-1">D:</span>
        <span class="answer-text">Cats</span>
    </div>
    <hr class="col question-line my-auto px-0"/>
</div>