<div class="col-auto mx-auto" id="audiencePanel" style="display: none">
    <div class="box text-center py-3">
        @if (ViewData["Role"] is UserRole.Host)
        {
            <div id="audienceSetupPanel">
                <textbox>Which audience would you like to ask?</textbox>
                <small-button id="chooseLiveAudienceBtn" onclick="millionaire.lifelines.audience.askLive()">Live audience</small-button>
                <small-button onclick="millionaire.lifelines.audience.askAi()">AI audience</small-button>
            </div>
        }

        <div class="px-4" id="audienceGraphPanel">
            <table class="audience-graph-text audience-results mx-auto my-3">
                <tbody>
                <tr>
                    <td id="audienceResultsA">0%</td>
                    <td id="audienceResultsB">0%</td>
                    <td id="audienceResultsC">0%</td>
                    <td id="audienceResultsD">0%</td>
                </tr>
                </tbody>
            </table>

            <canvas id="audienceGraph" width="303" height="378" class="d-block mx-auto"></canvas>

            <table class="audience-graph-text audience-graph-letters mx-auto mt-2 mb-3">
                <tbody>
                <tr>
                    <td>A</td>
                    <td class="audience-graph-diamond">◆</td>
                    <td>B</td>
                    <td class="audience-graph-diamond">◆</td>
                    <td>C</td>
                    <td class="audience-graph-diamond">◆</td>
                    <td>D</td>
                </tr>
                </tbody>
            </table>

            @if (ViewData["Role"] is UserRole.Host)
            {
                <small-button id="audienceStartBtn" onclick="millionaire.lifelines.audience.start()">Start</small-button>
                <small-button class="disabled" id="audienceDismissBtn" onclick="millionaire.lifelines.audience.dismiss()">OK</small-button>
            }
        </div>
    </div>
</div>