<div class="col-auto col-md-6 align-items-center mx-auto" id="defaultPanel" style="display: flex;">
    <div class="logo-small mx-auto mb-5">
        <webp name="logo" alt="Who Wants To Be A Millionaire? logo"></webp>
    </div>
</div>