<div class="col-auto col-md-6 d-flex align-items-center mx-auto" id="DefaultPanel">
    <div class="logo-small mx-auto mb-5">
        <img src="~/images/logo.png" alt="Who Wants To Be A Millionaire? logo"/>
    </div>
</div>