<div class="modal fade" id="gameEndedModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content box">
            <div class="modal-header">
                <h2 class="modal-title">Game ended</h2>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    The game has been ended by the host. Return to the main menu to play another game.
                </div>
            </div>
            <div class="modal-footer">
                <a asp-controller="Home" asp-action="Index">
                    <small-button>Main menu</small-button>
                </a>
            </div>
        </div>
    </div>
</div>