<div class="col d-flex flex-column mx-auto" id="hostPanel">
    <div class="row">
        <div class="col mb-3">
            <div class="logo-small mx-auto">
                <img src="~/images/logo.png" alt="Who Wants To Be A Millionaire? logo"/>
            </div>
        </div>
        <partial name="_GameStatusBox"/>
    </div>
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div>
            <button type="button" class="small-button d-block mx-auto my-3 px-4">Walk away</button>
            <button type="button" class="small-button d-block mx-auto my-3 px-4">Next</button>
        </div>
    </div>
</div>