<div class="modal fade" id="joinGameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content box">
            <div class="modal-header">
                <h2 class="modal-title">Join multiplayer game</h2>
            </div>
            <div class="modal-body">
                <label for="playerNameInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="playerNameInput">
            </div>
            <div class="modal-footer">
                <small-button data-bs-dismiss="modal">Join</small-button>
            </div>
        </div>
    </div>
</div>