@functions
{
    string getJoinOnClick()
    {
        return ViewData["Role"] switch
        {
            UserRole.Host => "game.join.host()",
            UserRole.Audience => "game.join.audience()",
            UserRole.Spectator => "game.join.spectator()",
            _ => "console.log('Unrecognised user role')"
            };
    }
}

<div class="modal fade" id="joinGameModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content box">
            <div class="modal-header">
                <h2 class="modal-title">Join multiplayer game</h2>
            </div>
            <div class="modal-body">
                @if (ViewData["Role"] is not UserRole.Host)
                {
                    <div class="mb-3">
                        <label for="gameIdInput" class="form-label">Game ID</label>
                        <input type="text" class="form-control" id="gameIdInput" required>
                    </div>
                }
                <div>
                    <label for="playerNameInput" class="form-label">Name</label>
                    <input type="text" class="form-control" id="playerNameInput" required>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewData["Role"] is not UserRole.Host)
                {
                    <span class="invalid-feedback" id="gameIdNotFoundMessage">A game with that ID could not be found.</span>
                }
                <small-button onclick="@getJoinOnClick()">Join</small-button>
            </div>
        </div>
    </div>
</div>