<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0@(ViewData["IsMobile"] is true ? ", user-scalable=no" : "")"/>
    <title>@ViewData["Title"] - Who Wants To Be A Millionaire?</title>

    @if (ViewData["Mode"] is "Multiplayer")
    {
        <partial name="_Preloads"/>
    }

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/question.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/fastest-finger.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/money-tree.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/lifelines.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/winnings.css" asp-append-version="true"/>
    <partial name="_Favicons"/>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/style.js" asp-append-version="true"></script>
</head>

<body>

<main role="main" class="container-lg d-flex flex-column justify-content-evenly min-vh-100 py-4">
    @RenderBody()
</main>

</body>
</html>