<div id="menu">
    <question id="gameId"></question>

    @if (ViewData["Role"] is UserRole.Host)
    {
        <div class="row mb-2">
            <answer letter="A" position="left" class="disabled" text-style="transform: scaleX(0.9);" id="playFastestFingerBtn" onclick="fastestFinger.request()">Play Fastest Finger First</answer>
            <answer letter="B" position="right" class="disabled" id="playMainGameBtn" onclick="millionaire.request()">Start game</answer>
        </div>
        <div class="row mb-2">
            <answer letter="C" position="left" class="disabled" id="editQuestionsBtn" onclick="new bootstrap.Modal('#editQuestionsModal').show()">Edit questions</answer>
            <answer letter="D" position="right" onclick="settings.toggle()">Settings</answer>
        </div>
    }
</div>