<div class="col col-md-6 mx-auto" id="phonePanel" style="display: none">
    <div class="box text-center py-3">
        @if (ViewData["Role"] is UserRole.Host)
        {
            <div id="phoneSetupPanel">
                <textbox>Who would you like to phone?</textbox>
                <small-button onclick="millionaire.lifelines.phone.phoneFriend()">Friend</small-button>
                <small-button onclick="millionaire.lifelines.phone.phoneAi()">AI</small-button>
            </div>
        }
        <div id="phoneClockPanel">
            <div class="clock mt-4 mb-5">
                <img src="~/images/clock.png" alt="Phone-a-friend countdown clock" id="phoneClockImg"/>
            </div>
            <textbox row-id="phoneAiResponse" id="phoneAiResponseText" style="display: none">Ringing...</textbox>
            @if (ViewData["Role"] is UserRole.Host)
            {
                <small-button id="phoneStartBtn" onclick="millionaire.lifelines.phone.startClock()">Start clock</small-button>
                <small-button class="disabled" id="phoneDismissBtn" onclick="millionaire.lifelines.phone.dismiss()">OK</small-button>
            }
        </div>
    </div>
</div>