<div class="col-auto col-md-6 mx-auto" id="phonePanel" style="display: none">
    <div class="box text-center py-3">
        <div id="phoneSetupPanel">
            <textbox>Who would you like to phone?</textbox>
            <small-button>Friend</small-button>
            <small-button>AI</small-button>
        </div>

        <div id="phoneClockPanel" style="display: none">
            <div class="clock mt-4 mb-5">
                <img src="~/images/clock.gif" alt="Phone-a-friend countdown clock" id="phoneClockImg"/>
            </div>
            <textbox id="phone-ai-response">Ringing...</textbox>
            <small-button>Start clock</small-button>
            <small-button>OK</small-button>
        </div>
    </div>
</div>