<div class="col-auto col-md-6 mx-auto" id="playersListPanel">
    <div class="box py-3 mb-4">
        <h2 class="mx-3 mb-3">Players</h2>

        <player-li right-text="HOST">MAX</player-li>
        <player-li>OGO</player-li>
        <player-li>MAX 2</player-li>
        <player-li>MAX 3</player-li>
        <player-li>MAX 4</player-li>
        <player-li>MAX 5</player-li>
    </div>
</div>