@functions
{
    string getAnswerOnClick(char letter)
    {
        return ViewData["Role"] switch
        {
            UserRole.Host => $"game.rounds.millionaire.submitAnswer('{letter}')",
            UserRole.Audience => $"game.rounds.fastestFinger.input.insert('{letter}')",
            UserRole.Spectator => "console.log('Not allowed')",
            _ => "console.log('Unrecognised user role')"
            };
    }
}

<div id="questionAndAnswers" style="display: none">
    <question id="question"></question>

    <div class="row mb-2">
        <answer letter="A" position="left" id="answerA" class="disabled" onclick="@getAnswerOnClick('A')"></answer>
        <answer letter="B" position="right" id="answerB" class="disabled" onclick="@getAnswerOnClick('B')"></answer>
    </div>
    <div class="row mb-2">
        <answer letter="C" position="left" id="answerC" class="disabled" onclick="@getAnswerOnClick('C')"></answer>
        <answer letter="D" position="right" id="answerD" class="disabled" onclick="@getAnswerOnClick('D')"></answer>
    </div>
</div>