<div id="questionAndAnswers" style="display: none">
    <question id="question"></question>

    <div class="row mb-2">
        <answer letter="A" position="left" id="answerA" class="disabled"></answer>
        <answer letter="B" position="right" id="answerB" class="disabled"></answer>
    </div>
    <div class="row mb-2">
        <answer letter="C" position="left" id="answerC" class="disabled"></answer>
        <answer letter="D" position="right" id="answerD" class="disabled"></answer>
    </div>
</div>