<div id="questionAndAnswers" style="display: none">
    <question id="question"></question>

    <div class="row mb-2">
        <answer letter="A" position="left" id="answer0"></answer>
        <answer letter="B" position="right" id="answer1"></answer>
    </div>
    <div class="row mb-2">
        <answer letter="C" position="left" id="answer2"></answer>
        <answer letter="D" position="right" id="answer3"></answer>
    </div>
</div>