<div class="row mb-2">
    <hr class="col question-line my-auto px-0"/>
    <div class="col-md-auto question">
        Starting with the fewest, put these creatures in order according to the number of legs they have
    </div>
    <hr class="col question-line my-auto px-0"/>
</div>