<div id="winnings" style="display: none">
    <question class="winnings mb-3">
        <span class="winnings-text">£32,000</span>
    </question>
</div>

<div class="row mb-3" id="totalPrize" style="display: none;">
    <div class="total-prize p-0">
        <span class="total-prize-text">£64,000</span>
    </div>
</div>

<div class="row mb-3" id="millionairePrize" style="display: none">
    <div class="millionaire-prize p-0">
        <span class="millionaire-prize-text">MAX JOHNSON</span>
    </div>
</div>