<div id="winnings" class="flex-column justify-content-center" style="display: none">
    <question class="winnings">
        <span class="winnings-text"></span>
    </question>
</div>

<div class="row mb-3" id="totalPrize" style="display: none;">
    <div class="total-prize p-0">
        <span class="total-prize-text"></span>
    </div>
</div>

<div class="row mb-3" id="millionairePrize" style="display: none">
    <div class="millionaire-prize p-0">
        <span class="millionaire-prize-text"></span>
    </div>
</div>