<div class="modal fade" id="choosePlayerModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content box">
            <div class="modal-header">
                <h2 class="modal-title">Choose player</h2>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    There is no current valid Fastest Finger First winner. Please choose a player to play the main game.
                </div>
                <select class="form-select" id="choosePlayerSelect" required>
                    <option value="" selected disabled>Choose player</option>
                </select>
            </div>
            <div class="modal-footer">
                <small-button data-bs-dismiss="modal">Cancel</small-button>
                <small-button onclick="game.rounds.millionaire.setPlayerAndStart()">Play</small-button>
            </div>
        </div>
    </div>
</div>