<div class="col d-flex flex-column mx-auto" id="defaultPanel">
    <div class="row">
        <div class="col mb-3">
            <div class="logo-small mx-auto">
                <img src="~/images/logo.png" alt="Who Wants To Be A Millionaire? logo"/>
            </div>
        </div>
        <partial name="Host/_GameStatusBox"/>
    </div>
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div>
            <small-button class="d-block mx-auto my-3 disabled" id="walkAwayBtn" onclick="game.rounds.millionaire.walkAway()">Walk away</small-button>
            <small-button class="d-block mx-auto my-3" id="nextBtn" onclick="game.rounds.millionaire.letsPlay()">Next</small-button>
        </div>
    </div>
</div>