<div class="col box mx-3 mb-3 p-3">
    <h2>Contestant: <span id="contestantName"></span></h2>
    <p><span id="questionsAway">15</span> questions away</p>
    <p>Unsafe amount: <span id="unsafeAmount">£0</span></p>
</div>