<div class="col-auto col-md-6 mx-auto" id="gameSetupPanel">
    <partial name="_PlayersList"/>

    <div class="box p-3 lh-base mb-4">
        <h2 class="mb-3">Settings</h2>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="muteHostSound" checked>
            <label class="form-check-label" for="muteHostSound">Mute sound for host</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="muteAudienceSound" checked>
            <label class="form-check-label" for="muteAudienceSound">Mute sound for audience</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="muteSpectatorSound">
            <label class="form-check-label" for="muteSpectatorSound">Mute sound for spectators</label>
        </div>
    </div>
</div>