<div class="col box mx-3 mb-3 p-3">
    <h2>Game ID: <span id="statusBoxGameId"></span></h2>
    <p>Contestant: <span id="contestantName"></span></p>
    <p>Question <span id="questionNumber">1</span></p>
    <p><span id="questionsAway">15</span> questions away</p>
    <p>Unsafe amount: <span id="unsafeAmount">£0</span></p>
</div>