<div class="col box mx-3 mb-3 p-3">
    <h2>Contestant: <span id="contestantName">Max Johnson</span></h2>
    <p>15 questions away</p>
    <p>Unsafe amount: <span id="unsafeAmount">£218,000</span></p>
</div>