<div id="hostMenu">
    <question id="gameId">Game ID: 07DED</question>
    <div class="row mb-2">
        <answer letter="A" position="left">Start game</answer>
        <answer letter="B" position="right" onclick="new bootstrap.Modal('#editQuestionsModal').show()">Edit questions</answer>
    </div>
    <div class="row mb-2">
        <answer letter="C" position="left">Settings</answer>
        <answer letter="D" position="right">Exit</answer>
    </div>
</div>