<div class="modal fade" id="editQuestionsModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content box">
            <div class="modal-header">
                <h2 class="modal-title">Edit questions</h2>
            </div>
            <div class="modal-body">
                <div>
                    <textbox>Question 1</textbox>
                    <textbox>Question 2</textbox>
                    <textbox>Question 3</textbox>
                    <textbox>Question 4</textbox>
                </div>
            </div>
            <div class="modal-footer">
                <small-button data-bs-dismiss="modal">Save changes</small-button>
                <small-button data-bs-dismiss="modal">Cancel</small-button>
            </div>
        </div>
    </div>
</div>