@{
    ViewData["Title"] = "Home";
}

<partial name="_MenuLogo"/>

<div class="row mb-2">
    <hr class="col question-line my-auto px-0"/>
    <a class="col-md-auto question menu-button-lg">Singleplayer</a>
    <hr class="col question-line my-auto px-0"/>
</div>

<div class="row mb-2">
    <hr class="col question-line my-auto px-0"/>
    <a asp-controller="Multiplayer" asp-action="Index" class="col-md-auto question menu-button-lg">Multiplayer</a>
    <hr class="col question-line my-auto px-0"/>
</div>
